.App {
  text-align: center;
}

body {background-color: white;}

.navbar {
  background: linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(169, 190, 166,1) 60%);
  padding-bottom: 30px;
}

#login-button {
  background-color: #546329;
}

.form-button {
  background-color: #546329;
  color: white;
}

.form-button:hover {
  background-color: #0b0f08;
  color: rgb(212, 255, 199);
}

.login-signup-form{
  position: relative;
  margin: 28px;
  background-color: #a9bea6;
  width: 50%;
  height: min-content;
  border: black;
  border-style: solid;
  border-radius: 1.4%;
  border-width: 2px;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 15px;
}

.login-signup-form::before{
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  background: linear-gradient(20deg, rgba(255,255,255,.8) 1%, rgba(169, 190, 166,.7) 87%);
  transition: opacity 0.5s linear;
  z-index: -1;
  opacity: 0;
}

.login-signup-form:hover::before{
  opacity: 1;
}

#user-badge {
  color: #ddebdb;
  background-color: black;
  min-width: min-content;
  display:inline-block;
  padding: 15px 20px 15px 20px;
  text-align:center;
  border-radius:50%;
  font-size: large;
  transition: transform 1s;
}

#user-badge:hover {
  transform: rotate3d(0,1,1, 360deg)
}

#file-input {
  background-color: #a9bea6;
}

.danger-button {
  background-color: #ed5255;
}

.danger-button:hover {
  color: #ed5255;
  background-color: #0b0f08;
}

.back-button {
  color: white;
  background-color: #546329;
  max-width: 100px;
  margin: auto;
}

a:hover{
  text-decoration: none;
}

.back-button:hover {
  background-color: #0b0f08;
  color: rgb(212, 255, 199);
  max-width: 100px;
  margin: auto;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-content {
  color: aliceblue;
  margin-bottom: 5px;
}

.post-name-link {
  color: #a9bea6;
  background-color: black;
  font-size: large;
  padding:5px;
}

.post-name-link:hover {
  background-color: #a9bea6;
  color: black;
  border: 1px solid black;
  border-radius: 9px;
}

.margin-right {
  margin-right: 8px;
}

.post-card {
  min-width: 350px;
  max-width: 350px;
  min-height: min-content;
  max-height: min-content;
  overflow-wrap: break-word;
  padding: 2px;
  margin: 20px;
  background-color: #0b0f08;
  border: #546329;
  border-width: 4px;
  border-style: solid;
  position: relative;
  height: 100%;
  border-radius: 10px;
  align-self: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.image {
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-height: 320px;
}

.likes:hover {
  cursor: pointer;
}

.delete-post-button {
  position: absolute;
  right:    0;
  top:   0;
  background-color: #ed5255;
  color: #000000;
}

.delete-post-button:hover {
  color: #ed5255;
  background-color: #000000;
}

.delete-confirmation {
  background-color: #ed5255;
}

.comment-box {
  background: linear-gradient(20deg, rgba(255,255,255,.8) 2%, rgba(169, 190, 166,.7) 80%);
  padding: 10px;
  margin: 20px 0px 20px 0px;
  border-radius: 9px;
  border-style: double;
  border-color: black;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.comment-name-link {
  color: black;
  font-size: large;
  padding:5px;
}

.comment-name-link:hover {
  color: #a9bea6;
  background-color: black;
  border: 1px solid black;
  border-radius: 9px;
}

.delete-comment-button {
  position: relative;
  float: left;
  background-color: #ed5255;
}

.delete-comment-button:hover {
  position: relative;
  float: left;
  color: #ed5255;
  background-color: #0b0f08;
}

.confirm-delete-button {
  background-color: rgb(212, 255, 199);
  margin: 10px;
}

.confirm-delete-button:hover {
  background-color: #0b0f08;
  color: rgb(212, 255, 199);
}

.login-div{
  display: flex;
  justify-content: center;
  width: 100%;
}